li {
  list-style: none;
}

.main {
  padding-top: 100px;
  text-align: center;
}

.list-book {
  display: flex;
  justify-content: center;
}

.title-my-book {
  text-align: center;
}

.icons {
  display: flex;
  align-items: center;
}

.icons div {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.icons div .fa {
  margin-right: 20px;
}

.bookToBeRead {
  border-right: 3px solid blueviolet;
}

.bookToBeRead .fa-bookmark {
  color: blueviolet;
}

.bookFinished {
  border-right: 3px solid #fedd31;
}

.bookFinished .fa-check-circle {
  color: #fedd31;
}

.read-btn {
  background-color: Transparent;
  border: none;
  cursor: pointer;
  color: aliceblue;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.icons {
  float: left;
  margin-left: 15px;
}

.read-btn {
  float: right;
}

a {
  color: white;
}

.read-btn {
  text-decoration: none;
  font-weight: 800;
  padding-right: 10px;
  color: white;
}

.your-list {
  text-align: center;
  text-decoration-line: underline;
  margin-bottom: 100px;
}

.no-book {
  display: inline;
  background: #373f51;
  padding: 25px 40px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: medium;
  font-weight: 700;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.no-book:hover {
  box-shadow: 0 8px 16px 0 rgba(194, 169, 68, 1);
}
