li {
  list-style: none;
}

.list-book {
  display: flex;
  justify-content: center;
}

.title-my-book {
  text-align: center;
}
.icons {
  display: flex;
  align-items: center;
}
.icons div {
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.icons div .fa {
  margin-right: 20px;
}
.bookToBeRead {
  border-right: 3px solid blueviolet;
}
.bookToBeRead .fa-bookmark {
  color: blueviolet;
}
.bookFinished {
  border-right: 3px solid #fedd31;
}
.bookFinished .fa-check-circle {
  color: #fedd31;
}
.read-btn {
  background-color: Transparent;
  border: none;
  cursor: pointer;
  color: aliceblue;
}
