li {
  list-style: none;
}

.main {
  padding-top: 100px;
}

.list-book {
  display: flex;
  justify-content: center;
}

.title-my-book {
  text-align: center;
}

.icons {
  display: flex;
  align-items: center;
}

.icons div {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.icons div .fa {
  margin-right: 20px;
}

.bookToBeRead {
  border-right: 3px solid blueviolet;
}

.bookToBeRead .fa-bookmark {
  color: blueviolet;
}

.bookFinished {
  border-right: 3px solid #fedd31;
}

.bookFinished .fa-check-circle {
  color: #fedd31;
}

.read-btn {
  background-color: Transparent;
  border: none;
  cursor: pointer;
  color: aliceblue;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.icons {
  float: left;
}

.read-btn {
  float: right;
}

a {
  color: white;
}
.read-btn {
  text-decoration: none;
  font-weight: 800;
  padding-right: 10px;
  color: white;
}
.your-list {
  text-align: center;
  text-decoration-line: underline;
}

.no-book {
  display: flex;
  justify-content: center;
  align-content: center;
}
