.wrapper {
  display: flex;
}
.container {
  width: 300px;
  left: 50%;
  max-height: 400px;
  background-color: #1b1b1e;
  color: #d8dbe2;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.container:hover {
  box-shadow: 0 8px 16px 0 rgba(194, 169, 68, 1);
}
.header {
  display: inline;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
.cover {
  padding: 10px;
}
.img-box {
  float: left;
}
.content {
  font-size: 18px;
  font-weight: bold;
  float: right;
}
.title {
  width: 150px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.author {
  font-weight: 600;
  width: 100px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.categories {
  width: 100px;

  background-color: #58a4b0;
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pop-title {
  text-decoration: none;
  color: #dcedff;
}

.popover-title {
  float: none;
  line-height: 20px;
  text-decoration: none;

  padding: 15px 0;
}
.popover-wrapper {
  display: inline-block;
}
.popover-content {
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  width: 500px;
  color: white;
  background: black;
  padding: 10px;
  text-align: justify;
  overflow: auto;
  height: 100px;
}

.popover-wrapper:hover .popover-content {
  opacity: 1;
  visibility: visible;
}

.description {
  text-decoration: none;
  color: white;
}
