.wrapper {
  width: 80%;
}
.container {
  width: 500px;
  left: 50%;
  max-height: 400px;
  background-color: #1b1b1e;
  color: #d8dbe2;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: inline-block;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(194, 169, 68, 1);
}

.header {
  display: inline;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.cover {
  padding: 10px;
  display: inline-flex;
  height: 160px;
}

.img-box {
  float: left;
}

.content {
  font-size: 18px;
  font-weight: bold;
  float: right;
  padding-left: 15px;
}

.title {
  width: 350px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.author {
  font-weight: 600;
  width: 300px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.categories {
  max-width: 300px;
  display: inline;
  background-color: #58a4b0;
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pop-title {
  text-decoration: none;
  color: #dcedff;
}

.popover-title {
  float: none;
  line-height: 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: Transparent;
  color: white;
  text-align: center;
  font-weight: 700;
  padding: 20px;
  transition: all 0.5s;
}

.popover-title span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.popover-title span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.popover-title:hover span {
  padding-right: 25px;
}

.popover-title:hover span:after {
  opacity: 1;
  right: 0;
}

.popover-wrapper {
  float: left;
}

.popover-content {
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  width: 500px;
  color: white;
  background: black;
  padding: 10px;
  text-align: justify;
  overflow: auto;
  height: 100px;
}

::-webkit-scrollbar {
  width: 5px;
}

.popover-wrapper:hover .popover-content {
  opacity: 1;
  visibility: visible;
}

.description {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
}

.see-more-text {
  float: right;
  padding-right: 20px;
}

.lower-content {
  padding: 0 10px;
}

.my-book-btn {
  margin-left: 45%;
  background-color: #d8dbe2;
  color: #373f51;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
}
